<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />
<div class="container">
<%= link_to "Add your personal games", new_user_favoritegame_path, class: "btn btn-primary" %>
</div>
<br />
<br />
  <div class="container">
      <table class = "table table-bordered table-striped">
         <thead>.
            <tr>
               <th>Download your games</th>
               <th>Delete game</th>
               <th> </th>
            </tr>
         </thead>
         
         <tbody>
         	<% if !@fav_games.nil?%>
            <% @fav_games.each do |fav_game| %>
               
               <tr>
                 <td><%= link_to File.basename(fav_game.pgn.path), fav_game.pgn_url %></td>

               </tr>
               
            <% end %>
           <%end %>
         </tbody>
         
      </table>

    </div>