<% if !@fav_game.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @fav_game.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>
<div class="container">
<%= render 'form' %>
</div>