
</div>
</div>
<div class="container" >
<div class="card my-4">
  <h5 class="card-header"><%= @tour.name %></h5>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled mb-0">
		<% @tour.tournament_games[0..19].each do |tgame| %>
	  <li class="list-group-item d-flex justify-content-between align-items-center text-center">
	  <%= link_to "#{tgame.game.white.pname} vs #{tgame.game.black.pname}",game_path(tgame.game_id)%></li>
	  	<%end%>
        </ul>
      </div>
      <div class="col-lg-6">
        <ul class="list-unstyled mb-0">
    		<% @tour.tournament_games[20..39].each do |tgame| %>
    	  <li class="list-group-item d-flex justify-content-between align-items-center text-center">
    	  <%= link_to "#{tgame.game.white.pname} vs #{tgame.game.black.pname}",game_path(tgame.game_id)%></li>
    	  	<%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>