<!DOCTYPE html>
<html lang="en">

<head>


</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Welcome to LichessBase!</h1>
            <p><br/>A platform for chess players and enthusiasts to view games on the latest UI for chess games,comment on the moves made in any game and view annotations made by other users as well.<br/>Games ar listed in different time formats along with letting you list games by <b>tournaments</b>.<br/>You can even add your own favorite games to the website.<br/> <i>Join the platform and become a part of online chess community!</i></p>
        </header>

        <hr>
        <div class="container" style="width: 1110px">
            <div class="card my-4">
              <h5 class="card-header">Latest Games</h5>
              <div class="card-body">
                <div class="row text-center">

                    <%= render :partial => "categories" %>
                    <%= render :partial => "lists" %>

                </div>
              </div>
            </div>
        </div>
</body>

</html>
