<div class="container" style="width:400px">
<%= simple_form_for([@game,@game.annotations.build], remote: true) do |f| %>
	<%= f.input :annotation %>
	<%= f.button :submit %>
<% end %>

</div>

